@model IEnumerable<Student_Management__InfoDevelopers_.Models.students>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
@if (TempData["InfoMessage"] != null)
{
    <div class="alert alert-info">
       <strong>Information:</strong> @TempData["InfoMessage"]
    </div>
}

else if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success">
        <strong>Information:</strong> @TempData["SuccessMessage"]
    </div>
}

else if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger">
        <strong>Information:</strong> @TempData["ErrorMessage"]
    </div>
}

<p>
    <a asp-action="Create"> <button type="button" class="btn btn-primary">Create New</button></a>
    
</p>

<table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Sno)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EnrolledYear)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Faculty)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Course)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MiddleName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Age)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Contact)
            </th>
            <th>
                Actions
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Sno)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EnrolledYear)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Faculty)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Course)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MiddleName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Age)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Contact)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new {  id=item.Sno}, new {@class = "btn btn-primary"})&nbsp;&nbsp;
@*                    @Html.ActionLink("Details", "Details", new {  id=item.Sno}, new {@class = "btn btn-success"})&nbsp;&nbsp;
*@                    @Html.ActionLink("Delete", "Delete", new {  id=item.Sno}, new {@class = "btn btn-danger"})&nbsp;&nbsp;
            </td>
        </tr>
}
    </tbody>
</table>
